<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="GridContainer">
        <div class="item1">
            <h1>Hi Gigo</h1>
        </div>
        <div class="item2">
            <h1>This Is an Intro To Grid Model!</h1>
        </div>
        <div class="item3">
            <form action="" method="post">
                <label for="User_Name"> Enter your name:</label>
                <input type="text" name ="User_Name" id="User_Name" required> 
                
            </form>
        </div>
        <div class="item4">
            <form action="" method="post">
                <label for="User_age"> Enter your age:</label>
                <input type="number" name = "User_age" id = "User_age" required>
            </form>
        </div>
        <div class="item5">
            <a href="page2.html"> Press Here Mate!</a>
        </div>

    </div>
</body>
</html>